camb_clim/

cambiamenti_climatici/map.html

*.so

.ipynb_checkpoints/

venv_orbital/
space/

cambiamenti_climatici/dataset_incendi_FIRMS.csv

*.csv

node_modules/
.next/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
.env
.env.local
